body {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color:  #355C75 ;
}

/*  HEADER  */
#header-nav {
    background-color: #6C5B7B;
    border-radius: 0;
    border: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
}
.navbar-brand {
    padding-top: 20px;
}

.navbar-brand h1 {
    color: white;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list{
    margin-top: 20px;
    text-align: center;
}
#nav-item {
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif; 
}


/* Button  */
.navbar-header button.navbar-toggle, .navbar-header .iconbar {
    border: 3px solid #C06C84;
  

}
.navbar-header button.navbar-toggle {
    margin-top: -35px;
    clear: both;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

/* END HEADER */

#menu {
    font-size: 40px;
    font-family: 'Roboto', sans-serif; 
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
 
}
section 
{
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    height: 1000px;
    background-color: #C06C84;
    padding-left: 10px;
    padding-right: 10px;
    
}







/*** LARGE DEVICE  ***/
@media (min-width: 1200px) {

    

}
/*** MEDIUM DEVICE  ***/
@media (min-width: 992px) and (max-width:1199px) {

}
/*** SMALL DEVICE  ***/
@media (min-width: 768px) and (max-width:991px) {

}
/*** EXTRA SMALL DEVICE  ***/
@media (min-width: 767px) {
    
}